In [5]:
import numpy as np 
import pandas as pd 
import matplotlib as plt

2. Trends in Species Richness of Stony Corals ðŸ”²
Still needs to be done. Youâ€™ll want to:
->Count the number of different coral species present per year or per station
->Look at how that richness changes over time (line plot or bar plot)

In [6]:

df = pd.read_csv(r"C:\Users\ravit\Desktop\floridaprojdataset\Dataset_csv\CREMP_OCTO_RawData_2023.csv")
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 109246 entries, 0 to 109245
Data columns (total 10 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Year       109246 non-null  int64
 1   Date       109246 non-null  object
 2   Subregion  109246 non-null  object
 3   Habitat    109246 non-null  object
 4   SiteID     109246 non-null  int64
 5   Site_name  109246 non-null  object
 6   StationID  109246 non-null  int64
 7   SPP_Code   109246 non-null  object
 8   sciName    109246 non-null  object
 9   Height_cm  109244 non-null  float64
dtypes: float64(1), int64(3), object(6)
memory usage: 8.3+ MB

                Year         SiteID      StationID      Height_cm
count  109246.000000  109246.000000  109246.000000  109244.000000
mean     2017.591271      56.487762     567.443037      19.349914
std         3.639189      17.298813     172.985953      17.642004
min      2011.000000      26.000000     261.000000       1.000000
25%      2015.000000      35.000000     354.000000       6.000000
50%      2018.000000      55.000000     554.000000      14.000000
75%      2021.000000      74.000000     741.000000      28.000000
max      2023.000000      81.000000     814.000000     165.000000